<%- layout('default') %>


<div style="text-align: center">
	<h1>REGLAMENTOS</h1>

	<p>Elije el reglamento que deseas ver:</p>
	<select id="chooser">
		<option value="0">Carrera de Insectos</option>
		<option value="1">Microsumo</option>
		<option value="2">Minisumo Autónomo</option>
		<option value="3">Minisumo Radiocontrol</option>
		<option value="4">Sumo 3 KG. Autónomo</option>
		<option value="5">Sumo 3 KG Radio Control</option>
		<option value="6">Robótica de Aplicación</option>
		<option value="7">Carrera de Drones</option>
		<option value="8">Seguidor de Línea</option>
		<option value="9">Soccer</option>
		<option value="10">Guerra de Robots</option>
		<option value="11">Minisumo Radiocontrol Jr.</option>
		<option value="12">Carrera de Insectos Jr.</option>
	</select>

	<div class="chooser-options">
		<div class="option">
			<h2>Carrera de Insectos</h2>
			<iframe src="/assets/pdf/rules_1.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Microsumo</h2>
			<iframe src="/assets/pdf/rules_2.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Minisumo Autónomo</h2>
			<iframe src="/assets/pdf/rules_3.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Minisumo Radiocontrol</h2>
			<iframe src="/assets/pdf/rules_4.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Sumo 3 KG. Autónomo</h2>
			<iframe src="/assets/pdf/rules_5.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Sumo 3 KG Radio Control</h2>
			<iframe src="/assets/pdf/rules_6.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Robótica de Aplicación</h2>
			<iframe src="/assets/pdf/rules_7.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Carrera de Drones</h2>
			<iframe src="/assets/pdf/rules_8.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Seguidor de Línea</h2>
			<iframe src="/assets/pdf/rules_9.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Soccer</h2>
			<iframe src="/assets/pdf/rules_10.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Guerra de Robots</h2>
			<iframe src="/assets/pdf/rules_11.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Minisumo Radiocontrol Jr.</h2>
			<iframe src="/assets/pdf/rules_jr_1.pdf" width="800" height="750"></iframe>
		</div>

		<div class="option">
			<h2>Carrera de Insectos Jr.</h2>
			<iframe src="/assets/pdf/rules_jr_2.pdf" width="800" height="750"></iframe>
		</div>
	</div>
</div>
