<%- layout('default') %>


<div style="text-align: center">
	<h2>CALENDARIO DEL CONGRESO</h2>
	<a href="/assets/img/calendars/original/general.png" target="_blank">
		<img src="/assets/img/calendars/general.webp" class="idk-how-to-name-this" alt="" width="679" height="1344">
	</a>
</div>
