<%- layout('default') %>


<div style="text-align: center">
	<h1>CALENDARIOS DEL EVENTO</h1>

	<p>
		<a href="/calendar/general">
			<button>
				<b>CONGRESO</b>
			</button>
		</a>
	</p>

	<p>
		<a href="/calendarios/robotica">
			<button>
				<b>ROBOTICA</b>
			</button>
		</a>
	</p>
</div>

