<%- layout('default') %>


<div style="text-align: center">
	<h1>CALENDARIOS DEL EVENTO DE ROBÓTICA</h1>

	<a href="/assets/img/calendars/original/robotics_1.png" target="_blank">
		<img src="/assets/img/calendars/robotics_1.webp" class="idk-how-to-name-this" alt="" width="800" height="1040">
	</p>

	<a href="/assets/img/calendars/original/robotics_2.png" target="_blank">
		<img src="/assets/img/calendars/robotics_2.webp" class="idk-how-to-name-this" alt="" width="800" height="1040">
	</p>

	<a href="/assets/img/calendars/original/robotics_3.png" target="_blank">
		<img src="/assets/img/calendars/robotics_3.webp" class="idk-how-to-name-this" alt="" width="800" height="1040">
	</p>

	<a href="/assets/img/calendars/original/robotics_4.png" target="_blank">
		<img src="/assets/img/calendars/robotics_4.webp" class="idk-how-to-name-this" alt="" width="800" height="1040">
	</p>
</div>

