<%- layout('default') %>

<div style="margin: 0 auto; max-width: 500px; padding: 15px; text-align: center">
	<h1>Llegaste tarde</h1>
	<p>Se han cerrado las inscripciones al evento. ¡Gracias a todos por participar!</p>

	<!-- <p>
		<img src="/assets/img/ops.webp" alt="damn, i don't really care" width="513" height="371">
	</p> -->
</div>

