<%- layout('default') %>

<div style="max-width: 500px; margin: 0 auto; text-align: justify; margin-bottom: 50px">
	<h1 style="text-align: center">INFORMACIÓN DE COSTOS</h1>

	<p>Costo de registros a competencias (robots y robótica de aplicación)</p>

	<ul>
		<li>
			<span>1 a 20 robots</span>
			<div></div>
			<span>$500.00 MXN c/u</span>
		</li>
		<li>
			<span>21 a 40 robots</span>
			<div></div>
			<span>$400.00 MXN c/u</span>
		</li>
		<li>
			<span>41 o más robots</span>
			<div></div>
			<span>$300.00 MXN c/u</span>
		</li>
		<li>
			<span>Categorías Junior</span>
			<div></div>
			<span>$400.00 MXN c/u</span>
		</li>
	</ul>

	<h2>PROCESO DE PAGO Y VALIDACIÓN</h2>
	<p>
		Para realizar el pago, favor de comunicarse al correo y/o número telefónico que se encuentra al final de esta
		página.
	</p>

	<p>
		Para la validación de pagos de registros, es necesario llenar la información en la
		<a href="/registro">página de registro para robótica</a>. Deberá de subir el comprobante de pago en imagen
		PNG o JPG, con un peso máximo de 3MB y tamaño máximo de 1200 x 1200 pixeles.
	</p>

	<p>
		Si prefiere subir el comprobante de pago en otro momento, la página le dará un código de registro para el robot
		que ha inscrito en la categoría correspondiente. <b>GUARDE EL CÓDIGO</b>, dicho código le servirá para subir
		el comprobante de pago en la <a href="/registro/subir_recibo">página para subir el comprobante de pago</a>.
	</p>

	<p><b>Nota:</b> las delegaciones extranjeras deberán realizar el pago el día del evento.</p>

	<h3>Contacto para dudas de pago o facturación:</h3>
	<address>
		Lic. Soledad Del Angel San Juan<br>
		<b>Correo:</b> <a href="mailto:soledad.delangel@itspozarica.edu.mx">soledad.delangel@itspozarica.edu.mx</a><br>
		<b>Teléfono:</b> (782) 100 2507<br>
		<b>Ubicación:</b> Instituto Tecnológico Superior de Poza Rica. Edificio uno, planta alta
					(oficina de recursos financieros).<br>
	</address>
</div>
