<%- layout('default') %>

<div style="margin: 0 auto; max-width: 500px; padding: 15px; text-align: center">
	<h1>REGISTRO PARA EL EVENTO</h1>
	<a href="registro/formulario">
		<button>
			Regístrate aquí
		</button>
	</a>

	<div style="height: 50px"></div>

	<h2>¿YA CUENTAS CON UN CÓDIGO DE REGISTRO?</h2>
	<p>Si no subiste el comprobante de pago al registrarte, usa tu código de registro aquí.</p>
	<a href="/registro/subir_recibo">
		<button>
			Envía tu comprobante de pago
		</button>
	</a>
</div>
