<%- layout('default') %>


<div style="text-align: center">
	<h1>CONVOCATORIA</h1>

	<iframe src="/assets/pdf/convocation.pdf" width="800" height="750"></iframe>


	<p>
		<a href="https://forms.office.com/r/ZLndnBxbWB">
			<button>Inscribir Artículo</button>
		</a>
	</p>
</div>
