<%- layout('default') %>


<div style="text-align: center">
	<h1>FORMATOS</h1>

	<h2>Plantilla Artículos 2023</h2>
	<iframe src="/assets/pdf/guia_plantilla_articulos_2023.pdf" width="800" height="750"></iframe>

	<p>
		<a href="/assets/etc/guia_plantilla_articulos_2023.docx" download>
			<button>Descargar Documento de Word</button>
		</a>
	</p>
</div>
