<!DOCTYPE html>
<html lang="es" style="overflow: hidden">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="fish.">
<meta name="robots" content="index, follow">


<link rel="preload" href="/assets/css/error.css?v=<%= __version__ %>" as="style">
<link rel="stylesheet" href="/assets/css/error.css?v=<%= __version__ %>">

<title>JavaScript está desactivado</title>


<script nonce="<%= nonce %>">
	window.location.href = '/';
</script>


<h1>JavaScript está desactivado.</h1>
<p>Este sitio web requiere JavaScript para funcionar correctamente.</p>

<img src="/assets/img/noscript.webp" alt="JavaScript derritiéndose" width="500" height="350">
